# dependencies
node_modules
dist
build
packages/*/node_modules
packages/*/dist
packages/*/build

# sst
.sst

# tmp files
.#*

# env 
.env*.local
.env
.idea
.envrc

# opennext
.open-next

# misc
.DS_Store

# kiro
.kiro
