@import 'tailwindcss';

:root {
  --background: #fdf7f2;
  --foreground: #3f3f3f;

  --color-salmon: #d98e73;
  --color-peach: #fdf7f2;
  --color-gold: #e0b354;
  --color-green: #8ead91;
  --color-graphite: #3f3f3f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-salmon: #d98e73;
  --color-peach: #fdf7f2;
  --color-gold: #e0b354;
  --color-green: #8ead91;
  --color-graphite: #3f3f3f;
}

body {
  background: var(--color-peach);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
